{{ $sections := $.Site.Data.boards }}

{{ range $key, $value := $sections }}
    <div class="board-section">
        {{ add "## " $key | $.Page.RenderString }}
        <hr>
        <div class="board-section__boards">
            {{ range $boardName, $boardInfo := $value }}
                {{ $path := printf "/boards/%s/%s.html" $key $boardName }}
                <a href="{{ $path | relURL }}" class="board">
                    <img loading="lazy" src='{{ $boardInfo.board.placeholder | relURL }}' alt='{{ $boardInfo.board.name }}'/>
                    <h6 class="board__title">{{ $boardInfo.board.name }}</h6>
                    <hr>
                    <span class="board__description">{{ .desc }}</p>
                </a>
            {{ end }}
        </div>
    </div>
{{ end }}